

body {
    background-image: url('got.jpg');
    font-family: 'Advent Pro', 'serif';
	  font-size: 13px;
}

.text-and-icon {
    margin-right: 8px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.sections {
  padding-top: 70px;
  padding-bottom: 60px;
  width: 100%;

}

.login-box {
    margin-top: 200px;
    height: 250px;
    box-shadow: None;
    transition: box-shadow 400ms;
}

.navbar-brand {
  padding: 6px 9px;
}


.login__button--google {
	margin-top: 1rem;
	background: #da4635;
	border-color: #da4635;
}

.formtxtarea {
  font-size: 13px;
  letter-spacing: 1px;
  width: 100%;
}

.navbar {
    -webkit-box-shadow: 0 0 150px 0 #999;
    -moz-box-shadow: 0 0 150px 0 #999;
    box-shadow: 0 0 150px 0 #999;
}

.formitem{
  text-align: center;
	padding-top: 9px
}


.container .google-box {
    display: inline-block;
    text-align: center;
}
