<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} Item Catalog App</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{{ url_for('home') }}">Item Catalog</a>

        <div class="collapse navbar-collapse" id="navbarlinks">
            <ul class="navbar-nav ml-auto">
                <li class="navitem active">
                  <a class="navlink" href="{{ url_for('home') }}">Home <span class="decorate">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="navlink" href="{{ url_for('home') }}">Catalog <span class="decorate">(catalog)</span></a>
                </li>

                {% if 'username' not in session %}
                <a href="{{ url_for('login') }}"><btn btn-default navbar-btn type="submit">Login</button></a>

                 {% else %}
                 <a href="{{url_for('gdisconnect')}}" class="navbar-text navbar-margin-btn">
                 <button type="button" class="btn btn-default navbar-btn">LOGOUT</button></a>
                   </li>
                   </ul>

                {% endif %}
          </div>
      </nav>

{% block content %}
{% endblock %}

</body>
</html>
