{% extends "item_catalog.html" %}
{% block title %}Add Item{% endblock %}

{% block content %}
    <div class="container">
        <div class="padding-top-30">
            <div class="col-md-7">
               <h1>Add new item</h1>

               <form method="POST">
                    <div class="form-group">
                      <label for="formtxtarea">Title</label>
                      <input name="name" type="text" class="form-item" required>
                    </div>
                    <div class="form">
                      <label for="formtxtarea">Category</label>
                      <select name="category" class="form-item" id="formtxtarea" required>
                        {% for category in categories %}
                          <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form">
                      <label for="formtxtarea">Description</label>
                      <textarea name="description" class="form-item" id="formtxtarea" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{{ url_for('homepage') }}"><button type="button" class="btn btn-danger">Cancel</button></a>
                  </form>

            </div>
        </div>
    </div>
{% endblock %}
