{% extends "item_catalog.html" %}
{% block title %}Add Category{% endblock %}

{% block content %}
    <div class="container">
        <div class="padding-top-35">
            <div class="col-md-7">
               <h1>Add New Category</h1>

               <form name="newcategory" method="POST">
                    <div class="form">
                      <input name="new category name" type="text" class="form-item" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{{ url_for('homepage') }}">
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </a>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
