{% extends "item_catalog.html" %}
{% block title %}Add Category{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-7" style= "margin-top: 65px">
               <h1>Add New Category</h1>

               <form name="newcategory" method="POST">
                    <div class="form-group">
                      <input name="newcategoryname" type="text" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary" style="background: black; margin-top: 5px">Submit</button>
                    <a href="{{ url_for('homepage') }}">
                        <button type="button" class="btn btn-primary" style="background: black; margin-top: 5px">Cancel</button>
                    </a>
                </form>

            </div>
        </div>
{% endblock %}
